/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 90%;
    margin-bottom: 15px;
    font-weight: 500;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */


.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 180%;
    font-weight: bolder;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */


.custom-btn-del {
    border: 1px solid #b90000e0;
    position: relative;
    width: 33%;
    top: -2.2em;
    left: 31%;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #fff;
    
}   

.custom-btn-del a{
    text-decoration: none;
    color: #b90000e0;
    border-bottom: none;
    padding: 10px 0 10px 8px;
    font-weight: 500;
}

.custom-btn-del:hover {
    background-color: #b90000e0;
    color: #fff;
}

.custom-btn-del a:hover {
    color: #fff;
}




.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/bannermain.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/bannermain.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transform: translate(-50%, -50%);
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 1%;
}

.logo-green { 
    display: none;
    height: 40px;
    width: auto;
    float: left;
    margin: 1%;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav li {
    display: inline-block;
    margin-left: 5px;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    font-weight: 500;;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color:#e67e22;
}

.main-nav li a svg{
    height: 16px;
}

.ion-ios-search:hover, 
.ion-ios-cart:hover,
.ion-ios-search:active, 
.ion-ios-cart:active {
    color: #e67e22;
}

/* user profile picture in custom index */

.custindex-user-img {
    position: relative;
    border-radius: 200%;
    left: 81%;
    top: 10px;
    width: 33px;
    height: auto; 
}

.customindex-user {
    margin-left: 35px;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333ad;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: rgb(255, 255, 255);
}

.sticky .main-nav li a:hover {
    color: #e67e22;
}



.sticky .logo { display: none; }
.sticky .logo-green { display: block; }


/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-details{
    margin-bottom: 5px;
    text-align: center;
    font-size: 70%;
    font-weight: 500;
}


/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/reviewbanner.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/reviewbanner.jpg');
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ----------------------------------------------- */
/* MAIN BANNER */
/* ----------------------------------------------- */

.main-banner .row .col img{
    width: 100%;
}


/* ----------------------------------------------- */
/* REVIEW BANNER  */
/* ----------------------------------------------- */

.review-banner .row .col img{
    width: 96%;
    margin: 0 2%
}







/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}



input[type=file],
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}



/* ----------------------------------------------- */
/* ----------------ALL PRODUCTS -------------------*/
/* ----------------------------------------------- */


.allproducts {
    float: left;
    background-color: #dbdbdb;
    margin-left: 1.2%;
    margin-bottom: 40px;
    border: 1px solid #c8c7c7;
    border-radius: 2%;
    box-shadow: 2px 2px #b7b7b161;
}
.allproducts img {
    width: 90%;
    margin: 0 5%;
    height: auto;
}

.allproducts h3 {
    text-align: center;
    color: #646464;
    font-weight: 300;
    margin: 8px;
}


/* ----------------------------------------------- */
/* ----------------PRODUCT DETAILS------------------*/
/* ----------------------------------------------- */
/*
.productimage {
    width: 60%;
    float: left;

}


.productimage .product-index {
    width: 15%;
    float: left;
}
*/
.productimage .product-index ul li {
    list-style-type: none;
    padding-bottom: 2px;
}


.productimage .product-index ul li img {
    width: 80%;
    margin: 0 10%;
}

/*
.productimage .product-image{
    float: right;
    width: 75%;
    margin: 0 5%;
}
*/

.productimage .product-image img{
    width: 90%;
    margin: 0 5%;
}
/*
.productdetails {
    width: 40%;
    float: left;
}
*/
.productdetails .row .vendor,
.productdetails .row .title,
.productdetails .row .info,
.productdetails .row .price
 {
    font-size: 130%;   
    padding: 2px 5px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #5b5b5b;
}

.productdetails .row .vendor {
    font-weight: 300;
    margin-top: 50px;
}

.productdetails .row .title {
    font-weight: 700;
    margin-top: 25px;
}

.productdetails .row .price {
    font-weight: 500;
}

.productdetails .row .row a{
    text-decoration: none;
    color: #2d2d2d;
    border: 1px solid #5b5b5b;
    border-radius: 17px;
    box-shadow: 1px 1px #5b5b5b;
    padding: 10px 10px;
    margin: 25px 0;
    display: block;
    width: 45%;
    text-align: center;
    font-weight: 500;
    color: #f4f4f4;
    background-color: #393939;
    float: left;
    margin-right: 5%;

}

.productdetails .row .row a:hover {
    color: #e67e22;

}

.productdetails .row .info {
    font-weight: 300;
    border: 1px solid #e8e8e8;
    border-radius: 2%;
    font-size: 100%;
    padding: 10px 5px;
}

.description{
    width: 100%;
}

.description .detail {
    font-size: 100%;   
    padding: 15px 5px 0 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #5b5b5b;
    font-weight: 500;
}

.description .prod-description {
    font-size: 75%;   
    padding: 10px 5px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #5b5b5b;
    border:1px solid #ee803e21;
}
.pagination {
    margin-left: 45%;
    border: none;

}

.pagination a {
    text-decoration: none;
    color: #6c6363;
    border: none;
    padding:  0 3px;
}

.pagination a svg {
    fill: #484848;
    width: 25px;
}

.pagination .pagination-a {
    display: block;
    float: left;
}

.pagination  i .page-dist {
    padding: 0 5px;

    display: block;
    float: left;
}

.pagination a .arrow {
  stroke: #6c6363;
}

.pagination a .arrow-left {
  margin-right: 5px;
}

.pagination a .arrow-right {
  margin-left: 5px;
}




