{% extends "layout.html" %}
{% block title%}Dashboard{% endblock %}
{% block head%}Dashboard{% endblock %}
{% block content %}

<form method="POST" class="post-form" action="/addproduct" enctype="multipart/form-data">
	{% csrf_token%}
	<div class="container">
		<br>
		<div class="row-inp">
                <h2>Please enter product details!</h2>
        </div>
		<div class="form-group row row-info">
			<label class="col-sm-2 col-form-label">Title:</label>
			<div class="col-sm-10">
				{{ form.title }}
			</div>

			<label class="col-sm-2 col-form-label">Description</label>
			<div class="col-sm-10">
				{{ form.description }}
			</div>
		</div>
		<div class="form-group row row-info">
			<label class="col-sm-2 col-form-label">Price</label>
			<div class="col-sm-4">
				{{ form.price }}
			</div>
			<label class="col-sm-2 col-form-label">Featured Image:</label>
			<div class="col-sm-4">
				{{ form.featureImg }}
			</div>
			
		
			<label class="col-sm-2 col-form-label">Display Images:</label>
			<div class="col-sm-4">
				{{ form.displayImg }}
			</div>
		
			<label class="col-sm-2 col-form-label">Display Images:</label>
			<div class="col-sm-4">
				{{ form.displayImgFirst }}
			</div>

			<label class="col-sm-2 col-form-label">Display Images:</label>
			<div class="col-sm-4">
				{{ form.displayImgSecond }}
			</div>
		
			<label class="col-sm-2 col-form-label">Display Images:</label>
			<div class="col-sm-4">
				{{ form.displayImgThird }}
			</div>

			<label class="col-sm-2 col-form-label">Vendor</label>
			<div class="col-sm-2">
				{{ form.vendor }}
			</div>
			<div class="col-sm-2">
				<a href="/addvendor" class="btn btn-primary">New Vendor</a>
			</div>
		
			<label class="col-sm-2 col-form-label">Product Type:</label>
			<div class="col-sm-2">
				{{ form.type }}
			</div>
			<div class="col-sm-2">
				<a href="/addtype" class="btn btn-primary">New type</a>

			</div>
			
		</div>
			
		<div class="row-inp">
            <h3>Inventories details</h3>
    	</div>

		<div class="form-group row row-info">
			<label class="col-sm-1 col-form-label">XS:</label>
			<div class="col-sm-1">
				{{ form.xs }}
			</div>

			<label class="col-sm-1 col-form-label">SM:</label>
			<div class="col-sm-1">
				{{ form.sm }}
			</div>

			<label class="col-sm-1 col-form-label">MD:</label>
			<div class="col-sm-1">
				{{ form.md }}
			</div>

			<label class="col-sm-1 col-form-label">LG:</label>
			<div class="col-sm-1">
				{{ form.lg }}
			</div>

			<label class="col-sm-1 col-form-label">XL:</label>
			<div class="col-sm-1">
				{{ form.xl }}
			</div>

			<label class="col-sm-1 col-form-label">XXL:</label>
			<div class="col-sm-1">
				{{ form.xxl }}
			</div>

			<label class="col-sm-1 col-form-label">XXXL:</label>
			<div class="col-sm-1">
				{{ form.xxxl }}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-5"></div>
			<div class="col-sm-4">
				<button type="submit" class="btn btn-primary">Insert</button>
			</div>
		</div>
	</div>
</form>





{% block newtype %}

{% endblock %}
















{% endblock content %}
